body {

}

#container{
	background-color: cyan;
	width: 760px;
	height: auto;
	margin:auto;
}

#menu{
	background-color: orange;
	width: 760px;
	height: 50px;
}

header{
	width: 760px;
	height: 150px;
	background: url("Alice/banner-curs.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
}

header div{
	width:200px;
	position: absolute;
	bottom: 2px;
	right: 10px;
}

#content{
	background-color: pink;
	float: left;
	width: 480px;
	height: auto;
}

#sidebar{
	background-color: blue;
	float: right;
	width: 280px;
	height: auto;
	min-height: 225px;

footer{
	background-color: lightblue; 
	width:760px;
	height: 60px;
	clear: both;
}

#logo{
	position: fixed;
}